/*! CSS Used from: https://buttapptest.azurewebsites.net/static/css/2.af3c1da9.chunk.css */
*,
:after,
:before {
  box-sizing: border-box;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
@media print {
  *,
  :after,
  :before {
    text-shadow: none !important;
    box-shadow: none !important;
  }
  p {
    orphans: 3;
    widows: 3;
  }
}
/*! CSS Used from: Embedded */
.css-9ohtah {
  color: transparent;
  height: 1px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  white-space: nowrap;
  width: 1px;
}
.css-1j843a5 {
  position: relative;
}
.css-1j843a5 > .webchat__bubble__content {
  /* overflow: hidden; */
  border: 1px solid;
  border-radius: 1px;
}
.css-hls04x {
  display: flex;
}
.css-hls04x > .webchat__stackedLayout__content {
  overflow: hidden;
  flex-grow: 1;
}
.css-hls04x > .webchat__stackedLayout__content > .webchat__row {
  display: flex;
}
.css-hls04x > .webchat__stackedLayout__content > .webchat__row > .bubble {
  overflow: hidden;
  flex-grow: 1;
}
.css-hls04x > .webchat__stackedLayout__content > .webchat__row > .filler {
  flex-grow: 10000;
  flex-shrink: 1;
}
.css-hls04x > .filler {
  flex-shrink: 0;
}
.css-hls04x.webchat__stackedLayout--fromUser {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
}
.css-hls04x.webchat__stackedLayout--fromUser
  > .webchat__stackedLayout__content
  > .webchat__row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
}
.css-1qyo5rb {
  margin-bottom: 10px;
}
.css-ageddn > .webchat__bubble__content {
  word-break: break-word;
}
.css-ageddn.from-user > .webchat__bubble__content {
  background: white;
  border-color: rgb(230, 230, 230);
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  color: black;
  min-height: 38px;
}
.css-1s8geyi {
  color: rgb(118, 118, 118);
  font-family: Calibri, "Helvetica Neue", Arial, sans-serif;
  font-size: 80%;
  padding-top: 5px;
}
.css-10xzw44:not(.webchat__stacked_extra_left_indent) {
  margin-left: 10px;
}
.css-10xzw44:not(.webchat__stacked_extra_right_indent) {
  margin-right: 10px;
}
.css-10xzw44 > .webchat__stackedLayout__content > .webchat__row > .bubble {
  max-width: 480px;
}
.css-1b7yvbl {
  font-family: Calibri, "Helvetica Neue", Arial, sans-serif;
  margin: 0px;
  min-height: 20px;
  padding: 10px;

}
