#title {
    text-align: center;
    font-family: arial, sans-serif;
}

#userbookings {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
}

#userbookings td, #userbookings th {
    border: 1px solid #ddd;
    padding: 8px;
}