html,
body {
  background-color: #f8f9fa !important;
  /* overflow-x: hidden; */
}

.no-over{
  overflow: hidden;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-self: center;
}

.flex-container > * {
  text-align: center;
}

.flex-container > p {
  color: #61dafb;
  text-align: center;
}

.full-height-row {
  height: 100vh;
}

.App-link {
  color: #61dafb;
}
